
/* Body And HTML Styles */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--page-bg-color);
    font-family: var(--page-font);
}

/* Pause main */
.paused {
    pointer-events: none;
}

/* Animations */
@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
@keyframes disappear {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
.main-block{
    animation: load 1s ease-in-out;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 125px;
    background-color: var(--header-footer-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    position: sticky;
    z-index:101;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: 3px var(--hamburger-btn-color) solid;
    margin-left: 8%;
    color: inherit;
    cursor: pointer;
    border-radius: 5px
}

.hamburger-btn-bar {
    width: 30px;
    height: 5px;
    background-color: var(--hamburger-btn-color);
    margin: 3px;
    border-radius: 16px
}

.logo {
    display:flex;
    width:50px;
    height:50px;
    overflow: clip;
}
.logo img {
    width: 50px;
    aspect-ratio: 1/1;;
}

.phone {
    display: flex;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    margin-right: 8%
}

/* Side Bar Navaigation Styles */
.sidebar {
    display: block;
    position: absolute;
    top: 129px;
    width: 75%;
    height: 100%;
    border-top: none;
    border-right: 4px solid black;
    background-color: var(--sidebar-bg-color);
    transition: ease 0.3s;
    z-index:100;
    
    
}

.sidebar a{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px black solid;
    border-radius: 16px;
    margin-top: 10px;
    margin-inline:10px;
    text-decoration: none;;
    background-color: var(--sidebar-btn-bg-color);
    color: var(--sidebar-btn-text-color);
    opacity: 0;
    
}

.sidebar a:hover {
    background-color: var(--sidebar-btn-hover-bg-color);
    color: var(--sidebar-btn-hover-text-color);
    border: 1px solid var(--sidebar-btn-hover-text-color);
}

/* Slide In Animation */
.sidebar.active {
    left:0;
}

.sidebar.active a{
    animation: slideIn 0.5s forwards;
}

.sidebar.active a:nth-child(1) {animation-delay: 0.2s;}
.sidebar.active a:nth-child(2) {animation-delay: 0.4s;}
.sidebar.active a:nth-child(3) {animation-delay: 0.6s;}
.sidebar.active a:nth-child(4) {animation-delay: 0.8s;}
.sidebar.active a:nth-child(5) {animation-delay: 1s;}
.sidebar.active a:nth-child(6) {animation-delay: 1.2s;}

/* Slide Out Animation */
.sidebar.closing {
    left: -100%;
    transition-delay: 1.4s;
}
.sidebar.closing a {
    animation: slideOut 0.5s backwards;
}

.sidebar.closing a:nth-child(1) {animation-delay: 1.2s;}
.sidebar.closing a:nth-child(2) {animation-delay: 1s;}
.sidebar.closing a:nth-child(3) {animation-delay: 0.8s;}
.sidebar.closing a:nth-child(4) {animation-delay: 0.6s;}
.sidebar.closing a:nth-child(5) {animation-delay: 0.4s;}
.sidebar.closing a:nth-child(6) {animation-delay: 0.2s;}



/* Main Styles */
main {
    min-height: calc(100% - 125px - 125px - 8px);
    width: 100%;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    color: var(--page-text-color);
    background-color: var(--header-footer-color);
    border-top: 4px solid black;
    font-size: x-small;
    text-align: center;
    font-family: var(--page-font);
    position: relative;
    z-index:100;
}

.social-links {
    width: 25px;
    height: 25px;
    color: var(--social-links-color)
}
