
/* Body And HTML Styles */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Fjalla One', sans-serif;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: #808080;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    position: sticky;
    z-index:100;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: 3px black solid;
    margin-left: 8%;
    color: inherit;
    cursor: pointer;
    border-radius: 5px
}

.hamburger-btn-bar {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 3px;
    border-radius: 16px
}

.logo {
    display:flex;
    width:50px;
    height:50px;
    overflow: clip;
    margin-right: 8%
}
.logo img {
    width: 50px;
    aspect-ratio: 1/1;;
}
/* Side Bar Navaigation Styles */
.sidebar {
    display: block;
    position: absolute;
    width: 75%;
    height: 100%;
    border-right: 4px solid black;
    background-color: #808080;
    left: -100%;
    transition: ease 0.3s
    
    
}

.sidebar a{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px black solid;
    border-radius: 16px;
    margin-top: 10px;
    margin-inline:10px;
    text-decoration: none;;
    background-color: white;
    color: black;
    opacity: 0;
    
}

.sidebar a:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}



/* Slide In Animation */
.sidebar.active {
    left:0;
}

.sidebar.active a{
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.sidebar.active a:nth-child(1) {animation-delay: 0.2s;}
.sidebar.active a:nth-child(2) {animation-delay: 0.4s;}
.sidebar.active a:nth-child(3) {animation-delay: 0.6s;}
.sidebar.active a:nth-child(4) {animation-delay: 0.8s;}
.sidebar.active a:nth-child(5) {animation-delay: 1s;}

/* Slide Out Animation */
.sidebar.closing {
    left: -100%;
    transition-delay: 1.4s;
}
.sidebar.closing a {
    animation: slideOut 0.5s backwards;
}
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.sidebar.closing a:nth-child(1) {animation-delay: 1s;}
.sidebar.closing a:nth-child(2) {animation-delay: 0.8s;}
.sidebar.closing a:nth-child(3) {animation-delay: 0.6s;}
.sidebar.closing a:nth-child(4) {animation-delay: 0.4s;}
.sidebar.closing a:nth-child(5) {animation-delay: 0.2s;}



/* Main Styles */
main {
    min-height: calc(100% - 15% - 15% - 8px);
    width: 100%;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #808080;
    border-top: 4px solid black;
    font-size: x-small;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    bottom: 0;
}

.social-links {
    width: 25px;
    height: 25px;;
}