
/* Body And HTML Styles */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: #808080;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    position: sticky;
    z-index:100;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: 3px black solid;
    margin-left: 8%;
    color: inherit;
    cursor: pointer;
    border-radius: 5px
}

.hamburger-btn-bar {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 3px;
    border-radius: 16px
}

.logo {
    display:flex;
    width:50px;
    height:50px;
    overflow: clip;
    margin-right: 8%
}
.logo img {
    width: 50px;
    aspect-ratio: 1/1;;
}
/* Side Bar Navaigation Styles */
.sidebar {
    display: block;
    position: absolute;
    width: 75%;
    height: 100%;
    border-right: 4px solid black;
    background-color: #808080;
    left: -100%;
    
}

.sidebar a{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px black solid;
    border-radius: 16px;
    margin-top: 10px;
    margin-inline:10px;
    text-decoration: none;;
    background-color: white;
    color: black;
    
}

.sidebar a:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.sidebar .active {
    left:0;
}



/* Main Styles */
main {
    min-height: calc(100% - 15% - 15% - 8px);
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #808080;
    border-top: 4px solid black;
    font-size: x-small;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    bottom: 0;
}

.social-links {
    width: 25px;
    height: 25px;;
}