.main-block {
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    margin-inline: 10px;
    color: var(--page-text-color);
}

/* Facebook Related */
.facebook-container {
    display:flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.facebook-post {
    all:unset;
    width: 150px;
    height: 250px;
    margin-inline: 10px;

}
.facebook-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facebook-post.active {
    width: 300px;
    height: 400px;
}

.facebook-post.shrink {
    width: 75px;
    height: 175px;
}

.facebook-post.deactive {
    display: none;
}

.filler {
    display:flex;
    width: 150px;
    height: 250px;
    margin-inline: 10px;
}

/* Phone */
@media screen and (min-width:320px) {
    .facebook-post.active {
        width: 200px;
        height:375px;
    }
}
