.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
}
.main-block img {
    width: 100%;
    max-width:425px;
    aspect-ratio: 1/1.8;
}
.main-block h1 {
    position: absolute;
    text-align: center;
    top: 129px;
    font-size: xx-large;
    color:black;
    margin-inline:10px;
}
.main-block p {
    position: absolute;
    bottom:0%;
    text-align: center;
    width: 90%;
    margin-inline: 10px;
    font-size: medium;
    color: black;
    background: white;
    opacity: 0.8;
    padding: 20px;
}

@media screen and (max-width: 375px) {
    .main-block p {
        bottom: 25%;
    }
}
/* Tablet */
@media screen and (min-width: 600px) {
    .main-block h1, .main-block p {
        width: 50%
    }
}
/* laptop */
@media screen and (min-width: 1024px) {
    .main-block h1, .main-block p {
        width: 38%
    }
}
/* Desktop */
@media screen and (min-width: 1111px) {
    .main-block h1, .main-block p {
        width: 20%
    }
}