.main-block {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-inline: 25px;
    margin-bottom: 150px;
}

.main-block img{
    width:250px;
    aspect-ratio: 0/1;
    border: 3px solid black;
}