<div class="main-block">
    <h1>Contact us</h1>
    <p>If you have any questions or concerns feel free to reach out below!</p>
    <form class="contact-form" method="post">
        <label for="full-name">Full Name</label>
        <input type="text" id="full-name" name="full-name" placeholder="Full Name" required autocomplete="name">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required autocomplete="email">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone" required autocomplete="tel">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Your Message" required autocomplete="off"></textarea>
    </form>
    <button class='btn' type="submit">Send</button>
</div>